body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:107px;
  width:100px;
  height:100px;
  font-size:14px;
  color:#CCCCCC;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:568px;
  width:236px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
