body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:660px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:342px;
  width:553px;
  height:660px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
