body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:800px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:500px;
  height:800px;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
