body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:827px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:874px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:427px;
  height:874px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:128px;
  width:375px;
  height:642px;
  overflow:hidden;
}
#u23_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:657px;
}
#u24_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:657px;
  overflow:auto;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:104px;
  width:375px;
  height:25px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:113px;
  width:360px;
  height:11px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  overflow:hidden;
}
#u28_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:642px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:657px;
}
#u29_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:657px;
  overflow:auto;
}
