body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:40px;
  color:#FFFFFF;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:49px;
  width:354px;
  height:25px;
}
#u1049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:10px;
  width:25px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:1px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:90px;
  width:307px;
  height:30px;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  word-wrap:break-word;
}
