body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:93px;
  width:100px;
  height:100px;
  font-size:14px;
  color:#CCCCCC;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:10px;
  width:25px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:1px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:93px;
  width:100px;
  height:100px;
  font-size:14px;
  color:#CCCCCC;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:332px;
  height:6px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:211px;
  width:329px;
  height:3px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:231px;
  width:85px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:231px;
  width:85px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:103px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:276px;
  width:350px;
  height:103px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:560px;
  width:100px;
  height:30px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
