body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1920px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-624px;
  width:1200px;
  height:1920px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:952px;
  width:1196px;
  word-wrap:break-word;
}
